# Secrets
# ==============================================================================
.env
**/.env/*
# ==============================================================================

# Python
# ==============================================================================
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
# ==============================================================================

# Tests
# ==============================================================================
**/.coverage*
# ==============================================================================

# Scratch Files
# ==============================================================================
.DS_Store
**/.scratchpad/*
**/.secrets/*
**/*.log
# ==============================================================================

# Devbox
# ==============================================================================
**/.devbox/*
# ==============================================================================

# Local Development & Scrapbook
# ==============================================================================
local-dev/
scrapbook/
# ==============================================================================

# Framework
# ==============================================================================
**/coordination/*
**/test_coordination/*
# ==============================================================================

# Cage
# ==============================================================================
**/.cage/*
# ==============================================================================

# Logging
# ==============================================================================
**/logs/*.log
# ==============================================================================