# Secrets
# ==============================================================================
.env
# ==============================================================================

# Python
# ==============================================================================
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
# ==============================================================================

# Tests
# ==============================================================================
**/.coverage*
# ==============================================================================

# Scratch Files
# ==============================================================================
.DS_Store
**/.scratchpad/*
# ==============================================================================

# Devbox
# ==============================================================================
.devbox
# ==============================================================================